@model ThemeLayout.Models.Transport
<br />
@using (Html.BeginForm("AddTransport", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
  @Html.AntiForgeryToken()
  <div class="panel panel-primary" style="color:aliceblue;width:700px">
    <div class="panel-heading">
      <div class="panel-title">
        <h2 style="color:aliceblue">Add Transport</h2>
      </div>
    </div>
    <div class="panel-body" style="color:black">
      <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
          @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
          <div class="col-md-8">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "control-label col-md-4" })
          <div class="col-md-8">
            @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label col-md-4" })
          <div class="col-md-8">
            @Html.EditorFor(model => model.To, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          @Html.Label("Journey Date", null, new { @class = "control-label col-md-4" })
          <div class="col-md-8">
            @Html.EditorFor(model => model.DateTime, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateTime, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.Facilities, htmlAttributes: new { @class = "control-label col-md-4" })
          <div class="col-md-8">
            @Html.EditorFor(model => model.Facilities, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Facilities, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.BusStation, htmlAttributes: new { @class = "control-label col-md-4" })
          <div class="col-md-8">
            @Html.EditorFor(model => model.BusStation, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BusStation, "", new { @class = "text-danger" })
          </div>
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-4" })
          <div class="col-md-8">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
          </div>
        </div>
        <div class="form-group">
          @Html.Label("Image", null, htmlAttributes: new { @class = "control-label col-md-4" })
          <div class="col-md-8">
            <input type="file" id="ImageData" name="ImageData" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-4 col-md-12">
            <input type="submit" value="Create" class="btn btn-success" />
          </div>
        </div>
      </div>
    </div>
  </div>
  
}

<div>
  @Html.ActionLink("Back to List", "Index")
</div>
