@model ThemeLayout.Models.Customer


<h2 align="center" style="color:mediumseagreen"> Registration</h2><br />

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{

  if (ViewBag.Message != null)
  {
    <div class="alert alert-success">
      <strong>  Success! </strong> @ViewBag.Message
    </div>
  }
}
else
{
  using (Html.BeginForm("Registration", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
  {
    <div class="panel panel-primary">
      <div class=" panel-heading">
        <div class="panel-title"> Create Account</div>
      </div>
      <div class="panel panel-body" style="color:lightseagreen;width:700px" >
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
          <hr />
          @Html.ValidationSummary(true, "", new { @class = "text-danger" })
          <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
              @Html.ValidationMessage("Email Exist")
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
          </div>
          <div class="form-group">
            @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
              <input type="file" id="ImageData" name="ImageData" />
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-6 col-md-6">
              <input type="submit" value="Sign Up" style="color:lightseagreen" class="btn btn-default" />
            </div>
          </div>
        </div>
      </div>
    </div>

    if (ViewBag.Message != null)
    {
      <div class="alert alert-danger">
        <strong>  Error! </strong> @ViewBag.Message
      </div>
    }
  }
}



<div align="right">
  @Html.ActionLink("Login", "Login")
</div>

@section Scripts{
  <script src="~/Scripts/RegistrationForm/Messege.js"></script>
  <script src="~/Scripts/jquery.validate.min.js"></script>
  <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}


