<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>TourTroops </title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="~/travel/css/linearicons.css">
    <link rel="stylesheet" href="~/travel/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/travel/css/bootstrap.css">
    <link rel="stylesheet" href="~/travel/css/magnific-popup.css">
    <link rel="stylesheet" href="~/travel/css/jquery-ui.css">
    <link rel="stylesheet" href="~/travel/css/nice-select.css">
    <link rel="stylesheet" href="~/travel/css/animate.min.css">
    <link rel="stylesheet" href="~/travel/css/owl.carousel.css">
    <link rel="stylesheet" href="~/travel/css/main.css">

</head>
<body>
<header id="header">
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">

                <h3 class="site-icon">TourTroops</h3>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li>
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li>
                        <a href="@Url.Action("GoogleMap", "Customer")">Go To Map</a>
                    </li>

                    <li class="menu-has-children">
                        <a href="">Restaurant</a>
                        <ul>
                            <li>
                                <a href="@Url.Action("Restuarant", "Customer")">List</a>
                            </li>
                            <li>
                                <a href="@Url.Action("AddHotel", "Customer")">Create</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-has-children">
                        <a href="">Hotels</a>
                        <ul>
                            <li>
                                <a href="@Url.Action("Hotels", "Customer")">List</a>
                            </li>
                            <li>
                                <a href="@Url.Action("AddRestuarant", "Customer")">Create</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-has-children">
                        <a href="">Transports</a>
                        <ul>
                            <li>
                                <a href="@Url.Action("Transports", "Customer")">List</a>
                            </li>
                            <li>
                                <a href="@Url.Action("AddTransport", "Customer")">Create</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-has-children">
                        <a href="">Profile</a>
                        <ul>
                            <li>
                                <a href="@Url.Action("Login", "Customer")">Sign in</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Registration", "Customer")">Sign up</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </div>
</header><!-- #header -->
<!-- #header -->
<!-- start banner Area -->
<section class="relative about-banner">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    TourTroops
                </h1>
                @*<p class="text-white link-nav"><a href="~/travel/index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="contact.html"> Contact Us</a></p>*@
            </div>
        </div>
    </div>
</section>
@*<section class="contact-page-area section-gap">*@
<div>
    @RenderBody()
</div>
@*</section>*@
<!-- start footer Area -->
<footer class="footer-area section-gap">
    @*<div class="container">
        <div class="row">
          <div class="col-lg-3  col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>About Agency</h6>
              <p>
                The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>Navigation Links</h6>
              <div class="row">
                <div class="col">
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Feature</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Portfolio</a></li>
                  </ul>
                </div>
                <div class="col">
                  <ul>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3  col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>Newsletter</h6>
              <p>
                For business professionals caught between high OEM price and mediocre print and graphic output.
              </p>
              <div id="mc_embed_signup">
                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscription relative">
                  <div class="input-group d-flex flex-row">
                    <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                    <button class="btn bb-btn"><span class="lnr lnr-location"></span></button>
                  </div>
                  <div class="mt-10 info"></div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-lg-3  col-md-6 col-sm-6">
            <div class="single-footer-widget mail-chimp">
              <h6 class="mb-20">InstaFeed</h6>
              <ul class="instafeed d-flex flex-wrap">
                <li><img src="~/travelimg/i1.jpg" alt=""></li>
                <li><img src="~/travel/img/i2.jpg" alt=""></li>
                <li><img src="~/travel/img/i3.jpg" alt=""></li>
                <li><img src="~/travel/img/i4.jpg" alt=""></li>
                <li><img src="~/travel/img/i5.jpg" alt=""></li>
                <li><img src="~/travel/img/i6.jpg" alt=""></li>
                <li><img src="~/travel/img/i7.jpg" alt=""></li>
                <li><img src="~/travel/img/i8.jpg" alt=""></li>
              </ul>
            </div>
          </div>
        </div>
      </div>*@
</footer>
<!-- End footer Area -->

<script src="~/travel/js/vendor/jquery-2.2.4.min.js"></script>
<script src="~/travel/js/popper.min.js"></script>
<script src="~/travel/js/vendor/bootstrap.min.js"></script>
@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>*@
<script src="~/travel/js/jquery-ui.js"></script>
<script src="~/travel/js/easing.min.js"></script>
<script src="~/travel/js/hoverIntent.js"></script>
<script src="~/travel/js/superfish.min.js"></script>
<script src="~/travel/js/jquery.ajaxchimp.min.js"></script>
<script src="~/travel/js/jquery.magnific-popup.min.js"></script>
<script src="~/travel/js/jquery.nice-select.min.js"></script>
<script src="~/travel/js/owl.carousel.min.js"></script>
<script src="~/travel/js/mail-script.js"></script>
<script src="~/travel/js/main.js"></script>

@RenderSection("scripts", required: false)
</body>
</html>